* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf9ff;
}
div {
    display: block;
    margin: auto;
    }

#clock {
    position: absolute;
    right:0;

}

p{
    font-size: larger;

}

nav{
    font-size: 150%;
}

#demo {
    position: absolute;
    left:0;
}

h4 {
    position: absolute;
    left:0;
}
h6.coordse {
    position: absolute;
    left:0;
    visibility: hidden;
}

Button {
    position: absolute;
    left:0;
}