* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf9ff;
}
div {
    display: block;
    margin: auto;
    }

#clock {
    position: absolute;
    right:0;

}

p{
    font-size: larger;
}

nav{
    font-size: 150%;
}

