<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="bali">
    <div style="width: 1000px; overflow-y:">
      <h1>Bali </h1>>
      <p>Bali ir apburoša sala Indonēzijā, kas kontrastē ar citām valsts teritorijām. Bali ir unikāla Indonēzijas sala vairāku iemeslu dēļ, un viens no tiem ir fakts, ka populārākā reliģija ir nevis islāms kā pārējā Indonēzijā, bet gan hinduisms, tāpēc tradīcijas, kuras laika gaitā attīstījušās, ir krietni citādākas. Uz ielām Bali visu laiku notiek dažādu veidu ceremonijas, kur vietējie ir saģērbušies baltās drēbēs, simbolizējot tīrību.
        <br>
        Kad novērtētas apburošās Bali pludmales un piekraste, vērts doties "dziļāk" iekšzemē, jo tur iespējams atrast daudz autentisku vietu. Savukārt lauku apvidi Bali rietumu krastā nemaz nelīdzinās tūristu iekarotajiem salas dienvidiem. Tur pietiks vien ar 20 eiro dienā, lai lieliski atpūstos un iepazītu reģionu.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\Bali.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>