<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="borabora">
    <div style="width: 1000px; overflow-y:">
      <h1>Bora Bora </h1>>
      <p>Bora Bora ir viena no Franču Polinēzijas populārākajām salām. Kamēr citas tropu salas ir pazīstamas ar savu vētraino nakts dzīvi, uz Bora Boras valda mierīgāka atmosfēra, tāpēc šo vietu daudzi pāri izvēlas kā savu kāzu ceļojumu galamērķi. Par citām lieliskām vietām, kurās baudīt medus mēnesi.
        <br>
        Klusā okeāna smilšainā pludmale, jūras veltes un siltais klimats ir kā radīti atpūtai. Tur ir attīstījušās unikālas kulinārijas tradīcijas, kas ietekmējušās no citām valstīm. Bora Bora salā sastopama Francijas, Itālijas un Japānas kulinārijas ietekme – galvenokārt ēdienu gatavo ahimaa krāsnī, to veido, izrokot zemē caurumu un ievietojot tajā akmeņus, kas tiek apsildīti ar uguni. Ceļošanas vietne "Thrillophilia" šo nodēvējuši par vienu no apmeklētākajām salām pasaulē.
        <br>
        Uz Bora Bora salu ieteicams braukt laika posmā no novembra līdz aprīlim. Kad laiskošanās pludmalēs būs kārtīgi izbaudīta, var doties iepazīt tuvāk pilsētas – Bora Bora salā parasti dodas uz Vaitapi (Vaitape), kā arī pārgājienos, piemēram uz Otemanu kalnu. Jāpiebilst gan, ka izmaksas ceļojumam uz Bora Bora salu būs salīdzinoši augstas.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\borabora.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>