<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="fernando">
    <div style="width: 1000px; overflow-y:">
      <h1>Fernando de Noronha</h1>>
      <p>Šī sala ir aizsargājams jūras objekts, kuras ikdienas apmeklētāju skaits ir ierobežots un par tās apmeklēšanu tiek iekasēts dienas nodoklis. Sala atrodas aptuveni 280 kilometru attālumā no Brazīlijas krasta.
        <br>
        Tieši minētie fakti nodrošina to, ka Noronha sala ir viens no labākajiem galamērķiem, kur vēl mūsdienu industrializētajā pasaulē apskatīt un izjust neskartu dabu un vientulību. Tomēr laiks salā paiet nemanot, jo viss šķiet aizraujošs – vulkānisko iežu klintis, kas iestiepjas jūrā, dabīgie akmens baseini un sērfotāji.
        <br>
        Starp citu, šajā salā esošo Sančo pludmali ceļojuma portāls "Trip Advisor" 2017. gadā nosauca par skaistāko visā pasaulē (tā tas bijis pēdējo trīs gadu garumā). Tajā ir viss, kam jābūt sapņainā pludmalē – plata sniegbaltu smilšu josla, ko apskalo tirkīzzils ūdens, bet ieskauj iespaidīgas akmens klintis un zaļi tropu meži.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\Fernando.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>