<link rel="stylesheet" href="static/styles/.css">

<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %} <!-- Tiek izmantots lai layout varētu veikt speciālas pogas ar kurām var viegli pārvietoties -->
    {% block content %}
   <div class="home">
     <h1>Sākuma lapa</h1>
     <h3>Esi svecināts, šī saite tev stāstīs par vairākām vietām uz zemes, kur varētu aizbraukt atpūsties. </h3>
     <h2>Mūsu planēta</h2>
     <img src="static\image\n3jFt7cqbddTJa3fKhPzja-1200-80.jpg" alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>