<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="kapri">
    <div style="width: 1000px; overflow-y:">
      <h1>Kapri </h1>>
      <p>Itālijā netrūkst skaistu pilsētu – Venēcija, Roma, Milāna, arī mazākie lauku ciematiņi… Taču, dodoties uz Itāliju, iespējams arī apmeklēt salas, un par vienu no skaistākajām pasaule tiek saukta Kapri. Šī mazā, vulkāniskās izcelsmes sala, kas atrodas netālu no Neapoles, daudziem asociējas ar ārsta un rakstnieka Aksela Muntes romantisko veikumu "Stāsts par Sanmikelu". Autora villa ir viens no tūrisma objektiem salā, kas pieejams apskatei, taču apburošu vietu sarakstā liekama arī Sanmikelas baznīca.
        <br>
        Šī ir vieta, kurā daba apskatāma visā savā burvībā, sākot no majestātiskām klintīm un krastiem, beidzot ar vilinošu jūru un krāsainām ziedu rotām. Apskates vērta ir Zilā grota jeb ala, kurā, braucot no jūras puses, acīm paveras zila, zaigojoša gaisma. Šī vieta jau izsenis bijusi populāra, un tās skaistumu senatnē novērtējuši arī Romas imperatori.
        <br>
        Ja ir vēlme apskatīt pilsētu no augšas, vērts doties uz Solaro kalnu, kurā var uzbraukt ar funikulieri un novērtēt Kapri burvību šādā veidā.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\Kapri.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>