<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="karpi">
    <div style="width: 1000px; overflow-y:">
      <h1>Krēta </h1>>
      <p>Krētu mēdz saukt arī par Dievu salu, grieķu dievu valdnieka Zeva dzimšanas vietu un Eiropas civilizācijas šūpuli. Tā ir lielākā un apdzīvotākā Grieķijas sala, kurā gandrīz visu gadu var pavadīt saules kompānijā, izzinot bagātīgo vēsturi un iepazīstot arheoloģiskos dārgumus.
        <br>
        Tieši šī sala ir viena no 2018. gada ceļotāju aktualitātēm, jo salas galvaspilsēta 2017. gadā piedzīvoja ievērojamu tūristu plūsmas pieaugumu. Iemesls tam varētu būt Krētas piedāvātā daudzveidība, sākot no kalniem, ielejām un beidzot ar smilšainu un vilinošu piekrasti.
        <br>
        Lielā sala – tā grieķi sauc Krētas salu, kas ir kā valsts valstī. Otrajā gadu tūkstotī pirms mūsu ēras Krēta bija Mīnoju civilizācijas šūpulis. Krētā ir visilgākā ražas sezona Grieķijā, tāpēc šeit pieejams plašs augļu klāsts.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\kreta.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>