<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../static/styles/all.css">
  <body>
    <header>
      <div class="container"> <!-- Laiks kas rādās labajā augšā -->
        <h3 id="clock" style="float: right;">Tagadējais laiks 
        <p id="clock" style="float: right;"> Here will be date|time</p>
        

<h6 class="Coordse">Uzpiežat šei lai zinātu savas koordinātes</h6>

<button onclick="getLocation()">Uzzināt savas koordinātes</button>

<h6 id="demo"></h6>

<script>
const x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
  
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation nevar būt izmantojams šajā interneta programmā.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>
      </h3>
        <script>
            var clock = document.getElementById("clock");
        
            setInterval(() => {
                fetch("{{ url_for('time_feed') }}")
                .then(response => {
                        response.text().then(t => {clock.innerHTML = t})
                    });
                }, 1000);
        </script>
        <h1 class="logo"> Mana mājas lapa priekš Projekta darba</h1>
        <h3>Uzpiežat, lai varētu pārlekt uz valsti, par kuru varēsiet uzzināt vairāk. ↓↓↓</h3>
        <strong><nav>
          <ul class="menu"></ul>> <!-- Izvēle, uz ko var ērti uzpiest -->
            <li><a href="{{ url_for('home') }}">Home ←</a></li>
            <li><a href="{{ url_for('borabora') }}">Bora Bora ←</a></li>
            <li><a href="{{ url_for('maui') }}">Maui ←</a></li>
            <li><a href="{{ url_for('kreta') }}">Krēta ←</a></li>
            <li><a href="{{ url_for('kapri') }}">Kapri ←</a></li>
            <li><a href="{{ url_for('palavana') }}">Palavana ←</a></li>
            <li><a href="{{ url_for('fernando') }}">Fernando de Noronha ←</a></li>
            <li><a href="{{ url_for('bali') }}">Bali ←</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>