<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="maui">
    <div style="width: 1000px; overflow-y:">
      <h1>Maui </h1>>
      <p>Par sapņainu un ļoti patīkamu galamērķi laiskai atpūtai dēvē Maui salu, kas ietilpst Havaju salu teritorijā. Tā ir tik maza (1883 km2), ka to var pa perimetru apbraukt vienas dienas laikā, tāpēc patiesībā nav pat būtiski, kur tieši salā paliksi, ja vien būsi mobils.
        <br>
        Vieta piedāvā dažādas atpūtas iespējas. Protams, neiztikt bez baltām smiltīm, zili zaļu un siltu okeāna ūdeni, maigu vējiņu un palmu ēnām. Pieaugušie var nogaršot arī salas populārāko kokteili "Mai tai" (tumšais rums un ananāsu sula), ko iecienījuši daudzi tūristi.
        <br>
        Starp tūristiem var sastapt arī dzīvnieku pasaules pārstāvjus. Ar bruņurupučiem Maui var satikties gandrīz katrā pludmalē, tie, mērot diagonāli, ir apmēram metru gari, parasti uzturas piekrastes akmeņu tuvumā. Bruņurupuči, koraļļi un zivis visās varavīksnes krāsās – tos visus var apskatīt, pat nepērkot dārgās snorkelēšanas tūres. Lieliskas pludmales snorkelēšanai ir Ulua un Kihei.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\Maui.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>