<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
   <div class="palavana">
    <div style="width: 1000px; overflow-y:">
      <h1>Palavana </h1>>
      <p>Palavana (Palawan) ir sala Filipīnu arhipelāgā, Mimaropas reģionā. Tā ir Palavanas provinces lielākā sala, ko apskalo Dienvidķīnas un Sulu jūras. Salas reljefs ir kalnains, augstākā virsotne ir Mantalingahans (2073 metri) salas dienvidos. Sala ir 425 kilometrus gara, 8,5–40 kilometrus plata.
        <br>
        Šī sala ir gana romantisks galamērķis, kas nav pārāk "uzfrišināts", jo lielā daļā vietu var izbaudīt relaksējošu atpūtu pie dabas. Krasta līnija tai ir izrobota, piekrastē ir daudz rifu un sīku saliņu, kas to padara par īstu paradīzi niršanas cienītājiem.
        <br>
        Slavenākās klintis ir "El Nido" apkaimē. Savukārt piekrastē baltu smilšu pludmales apskalo tirkīzzils ūdens, bet krastus ieskauj koraļļu rifi, kas atgādina zemūdens dārzus. Lielāko tās daļu aizņem kalni, necaurejami džungļi, mangrovju (šai salai ļoti tipiski koki) audzes un dabiski veidojušās alas. Interesants objekts ir garākā pazemes upe pasaulē, kas atrodas Palavanā, "Cant Pol" nacionālajā parkā.</p>
  </div>
     <h2>Attēls</h2>
    <img src="static\image\Palavana.jpg"  alt="Neielādēja bildi :(">
   </div>
    {% endblock %}
  </body>
</html>